color1 = white
color2 = black
bg = #006cb7
fontType= "Trebuchet MS",Verdana,Arial

html, body
  height 100%
  background-color #83bfe2
  margin 0

footer
  bottom 0
  width 100%
  color color1
  text-align center
  position fixed
  @media screen and (max-width: 600px){
    position relative
  }
  #copyright
    p
      margin-top 15px
  .footerLinks
    display flex
    justify-content center
    margin-bottom 15px
    a
      color: color1
    .nav-link:hover
      color rgba(0,0,0,.7)

.jumbotron
  margin-bottom 0
  background-color #95d6f9
  a
    color color2
    text-decoration none

.col-lg-12
  background-color bg

.navbar
  background-color bg
  color color1

.navbar-light .navbar-nav .nav-link
  color color1

.navbar-brand
  color color1 !important
  font-family fontType
  font-size 30px
  font-weight bold
  text-shadow 2px 2px 2px #333
  @media screen and (max-width: 350px){
    font-size 18px
  }

div.row
  margin-left 0
  margin-right 0